body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
}

.container {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.toolbar {
    float: left;
    height: 100%;
    width: 50px;
    background-color: rgb(209, 209, 209);
}

.content {
    height: 100%;
    overflow: auto;
    padding: 50px;
}

.content-title {
    text-align: center;
}
